<?xml version="1.0" encoding="utf-8" ?>
<rlmConfiguration>
  <smtp
      serverName="112.78.3.253"
      port="25"
      userName="support@market24h.net"
      password="!QAZxsw2"
      enableSSL="false"
      defaultSender="support@market24h.net"
  />
  <emailer
      emailTemplateUrl="~/Resource/EmailTemplate/"
  />
  <application
      webSiteTitle=""
      applicationName="RLM Content Management System (RCMS)"
      author="Rainbow Light Media Group - RLM Group"
      rootUserId="1"
      
  />
  <storage
    fileIconUrl="~/Resource/FileUpload/FileIcon/"
    attachFileFolderUrl="~/Resource/FileUpload/AttachFileFolder/"
    imageFolderUrl="~/Resource/FileUpload/Images/"
    memberAvatarFolderUrl="~/Resource/FileUpload/MemberAvatar/"
    productFolderUrl="~/Resource/FileUpload/Products/"
    mediaPlayerUrl="~/Resource/flash/mediaplayer.swf"
    htmlTemplateUrl="~/resource/htmltemplate/"
    rlmMaskUrl=""
    tempUploadFolder="~/Resource/FileUpload/TempUploadFolder/"
    noImageUrl="~/Resource/Images/NoImage/"
    />
  <setting
    defaultProjectGroupId="143"
    
    itemPhotoThumnailWidth="100"
    itemPhotoThumnailHeight="100"
    itemPhotoWidth="100"
    itemPhotoHeight="100"
    
    contractCodeMask="{0}/{1}"
    defaultPageSize="5"
    
    textFilePattern=".(zip,rar,txt,doc)$"
    imageFilePattern=".(jpg|gif|png)$"
    videoFilePattern=".(flv)$"
    flashFilePattern=".(swf)$"
    fileUploadAllowedFileType=".(zip|rar|txt|doc|jpg|gif|png|flv|swf)$"
    fileUploadMaxSize="102400"
    
    imageThumbnailWidth="100"
    imageThumbnailHeight="100"
    imageBigWidth="300"
    imageBigHeight="300"
    
    shortDateTimeFormat="dd/MM/yyyy"
    longDateTimeFormat="dd/MM/yyyy HH:mm:ss"
    
    moneyFormat="###,###,###,###,##0.##"
    
  
    vndUnitId="12"
    />

</rlmConfiguration>