/* RadSlider QSFHome skin */

/* -------------------------------------------------------- GLOBAL SLIDER CLASSES -------------------------------------------------------- */
.RadSlider_QSFHome a
{
	cursor: hand;
}

/* -------------------------------------------------------- GLOBAL SLIDER CLASSES END ----------------------------------------------------- */
/* -------------------------------------------------------- HORIZONTAL SLIDER CLASSES -------------------------------------------------------- */
.RadSlider_QSFHome .rslHorizontal
{
	height: 21px;
}

.RadSlider_QSFHome .rslHorizontal a.rslHandle
{
	width: 22px; height: 21px;
}

.RadSlider_QSFHome .rslHorizontal .rslDecrease
{
	background: url(QSFHome/Handles.gif) no-repeat 0 0;
}

.RadSlider_QSFHome .rslHorizontal .rslIncrease
{
	background: url(QSFHome/Handles.gif) no-repeat -22px 0;
}

.RadSlider_QSFHome .rslHorizontal a.rslDraghandle
{
	top: 0;
	margin-top: -1px;
	width: 120px; height: 21px;
	background: url(QSFHome/DragHandlesHorizontal.gif) 0 1px no-repeat;
}

.RadSlider_QSFHome .rslHorizontal a.rslDraghandle:hover,
.RadSlider_QSFHome .rslHorizontal a.rslDraghandle:active
{
	/*background: url(QSFHome/DragHandlesHorizontal.gif) no-repeat -14px 0;*/
}

.RadSlider_QSFHome .rslHorizontal .rslTrack
{
	left: 22px; top: 0;
	height: 19px;
	background: #e8eef6 url(QSFHome/TrackHorizontalBgr.gif) repeat-x;
	border-top: solid 1px #2c7b90;
	border-bottom: solid 1px #024e6e;
}
/* -------------------------------------------------------- HORIZONTAL SLIDER CLASSES END ---------------------------------------------------- */
/* -------------------------------------------------------- VERTICAL SLIDER CLASSES -------------------------------------------------------- */
.RadSlider_QSFHome .rslVertical
{
	width: 21px;
}

.RadSlider_QSFHome .rslVertical .rslHandle
{
	width: 21px; height: 22px;
}

.RadSlider_QSFHome .rslVertical .rslDecrease
{
	background: url(QSFHome/HandlesVertical.gif) no-repeat 0 0;
}

.RadSlider_QSFHome .rslVertical .rslIncrease
{
	background: url(QSFHome/HandlesVertical.gif) no-repeat 0 -22px;
}

.RadSlider_QSFHome .rslVertical a.rslDraghandle
{
	left: 0px;
}

.RadSlider_QSFHome .rslVertical .rslTrack
{
	top: 22px; left: 0px;
	width: 19px;
	background: #e8eef6 url(QSFHome/TrackVerticalBgr.gif) repeat-y;
	border-left: solid 1px #024e6e;
	border-right: solid 1px #2c7b90;
}

.RadSlider_QSFHome .rslVertical a.rslDraghandle
{
	top: 0;
	margin-left: -1px;
	width: 21px; height: 120px;
	background: url(QSFHome/DragHandlesVertical.gif) 1px 0 no-repeat;
}

.RadSlider_QSFHome .rslVertical a.rslDraghandle:hover,
.RadSlider_QSFHome .rslVertical a.rslDraghandle:active
{
	/*background: url(QSFHome/DragHandlesVertical.gif) no-repeat 0 -14px;*/
}
/* -------------------------------------------------------- VERTICAL SLIDER CLASSES END ----------------------------------------------------- */